<!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-3xl md:leading-tight text-gray-800 dark:text-neutral-200">
      Frequently Asked Questions
    </h2>
  </div>
  <!-- End Title -->

  <div class="max-w-5xl mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 gap-6 md:gap-12">
      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          Is it better from SaaS templates or boilerplates?
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          Absolutely. With Rails Plan, you do not get unnecessary code, and you can measure savings in tens of thousands of dollars depending on the developer rate.
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          Do I own the generated code?
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          Yes! Also, it's impossible to differentiate generated code from the one created by Senior developer.
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          Does AI generate the code?
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          No, this solution is not an AI code generator. With a simple yet innovative approach, AI acts like a bridge that turns your ideas into structure.
        </p>
      </div>
      <!-- End Col -->

      <div>
        <h3 class="text-lg font-semibold text-gray-800 dark:text-neutral-200">
          Can I use this tool with an existing Rails app?
        </h3>
        <p class="mt-2 text-gray-600 dark:text-neutral-400">
          This solution is designed for new Rails apps only to speed up development from the first day.
        </p>
      </div>
      <!-- End Col -->

      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End FAQ -->
